<div class="profile-container" *ngIf="!loading; else loader">

  <div class="profile-card">
    <div class="avatar">
      {{ user.username.charAt(0) | uppercase }}
    </div>

    <h2>{{ user.username }}</h2>
    <p>{{ user.email | truncate:30 }}</p>
  </div>

  <div class="stats-grid">

    <div class="stat-card">
      <h3>{{ totalCards }}</h3>
      <p>Cartes disponibles</p>
    </div>

    <div class="stat-card">
      <h3>{{ totalDecks }}</h3>
      <p>Decks créés</p>
    </div>

    <div class="stat-card">
      <h3>{{ totalCollectionCards }}</h3>
      <p>Cartes en collection</p>
    </div>

  </div>

  <div class="mt-3 text-center mb-5">
    <div class="d-flex flex-wrap justify-content-center gap-3">
      <a href="cards" class="btn btn-outline-light px-4">Voir les cartes</a>
      <a href="decks" class="btn btn-outline-light px-4">Voir mes decks</a>
      <a href="dashboard" class="btn btn-outline-light px-4">Ouvrir un booster</a>
      <a href="collection" class="btn btn-outline-light px-4">Ma collection</a>
      <button class="btn btn-danger px-4" (click)="logout()">Déconnexion</button>
    </div>
  </div>

</div>

<ng-template #loader>
  <div class="loading">
    Chargement du profil...
  </div>
</ng-template>