<div class="sidebar d-flex flex-column justify-content-between">
  <div class="menu-top">
    <div class="logo mb-4 text-center">
      <a href="dashboard">
        <img src="./assets/images/logo.png" alt="Logo" class="logo" style="margin-top: 5px;">
      </a>
    </div>

    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link d-flex align-items-center" [routerLink]="item.link">
          <i class="{{ item.icon }} me-3"></i>
          <span class="link-text">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>