<nav class="navbar d-flex justify-content-between align-items-center px-4">
  <div class="navbar-left d-flex align-items-center">
    <a href="dashboard" class="logo me-3" style="margin-top: -5px;">
      <img src="./assets/images/logo.png" alt="Logo" class="logo">
    </a>
  </div>

  <div class="navbar-right d-flex align-items-center gap-3">
    <i class="bi bi-bell fs-5 cursor-pointer"></i>
    <i class="bi bi-envelope fs-5 cursor-pointer"></i>
    <a href="profile" class="d-flex align-items-center">
      <img src="./assets/images/avatar.png" alt="Avatar" class="avatar">
    </a>
  </div>
</nav>