<nav class="navbar d-flex justify-content-between align-items-center px-4">
  <div class="navbar-left d-flex align-items-center">
    <a routerLink="/" class="logo me-3">
      <img src="assets/image/logo.png" alt="Logo" class="logo" style="margin-top: -5px;">
    </a>
    <input type="text" placeholder="Rechercher..." class="form-control form-control-sm search-input">
  </div>

  <div class="navbar-right d-flex align-items-center gap-3">
    <i class="bi bi-bell fs-5 cursor-pointer"></i>
    <i class="bi bi-envelope fs-5 cursor-pointer"></i>
    <img src="assets/image/avatar.png" alt="Avatar" class="avatar" style="margin-top: -5px;">
  </div>
</nav>