<app-loader *ngIf="(isLoading$ | async) ?? false"></app-loader>
<app-toast *ngIf="(showToast$ | async) ?? false" [message]="toastService.message"></app-toast>

<!-- Auth pages -->
<div *ngIf="hideLayout(); else mainLayout">
  <router-outlet></router-outlet>
</div>

<!-- Application -->
<ng-template #mainLayout>

<div class="d-flex vh-100 bg-dark text-white">

  <app-sidebar class="sidebar"></app-sidebar>

  <div class="flex-grow-1 d-flex flex-column">

    <app-navbar class="navbar-fixed-top"></app-navbar>

    <div class="content flex-grow-1 overflow-auto p-4">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

</ng-template>