<app-loader *ngIf="(isLoading$ | async) ?? false"></app-loader>
<app-toast *ngIf="(showToast$ | async) ?? false" [message]="toastService.message"></app-toast>


<div class="d-flex vh-100 bg-dark text-white">

  <!-- Sidebar -->
  <app-sidebar class="sidebar"></app-sidebar>

  <!-- Main Content -->
  <div class="flex-grow-1 d-flex flex-column">

    <!-- Navbar fixée en haut -->
    <app-navbar class="navbar-fixed-top"></app-navbar>

    <!-- Contenu principal scrollable -->
    <div class="content flex-grow-1 overflow-auto p-4">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>